@import url('https://fonts.googleapis.com/css?
family=Open+Sans&display=swap' );

body{
    font-family: 'Open Sans' , sans-serif;
    background: #2c350;
}

nav{
    position: relative;
    margin: 270 px auto 0;
    width: 590px;
    background: #3e29ca;
    border-radius: 0;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0.0,0,.1);
}
nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    
}